* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
body {
   background-color: snow;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
   padding: 0;
   margin: 0;
   border: 0;
}
body,
html {
   width: 100%;
   height: 100%;
}
a {
   text-decoration: none;
}

.wrapper {
   min-width: 100%;
}
header {
   height: 12%;
   padding: 0 40px;
   background-color: white;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
   display: flex;
   justify-content: space-between;
   align-items: center;
}
h1 {
   font-size: 25px;
   padding: 10px;
   color: #d43333;
}
.content {
   width: 30%;
   height: 20%;
   background-color: #000;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   text-align: center;
}
.info {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
p {
   font-size: 25px;
}
button {
   border: 3px solid white;
   border-radius: 3px 10px;
   margin-top: 10px;
   background-color: transparent;
   padding: 5px 10px;
   color: white;
   letter-spacing: 1px;
}
